
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
html,body
{

  background-color: #A9D7D1;
  font-family: raleway;
  text-align: center;
}

.heading
{
  font-size: 2.5em;
}
.inner-box
{
  width: 60%;
  height: 900px;
  background-color: #ffff;
  border-radius:5px;
  margin: 0px auto;
  
}
.labels
{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 35%;
  font-size: 1em;
  padding: 6px;
  margin-top: 20px;

}
.tab-right
{
  display: inline-block;
  text-align: left;
  width: 50%;
}
.input-felids
{
  height: 20px;
  width: 210px;
  padding: 5px;
  border: 0.5px solid #c0c0c0;
  border-radius: 2px;
  margin-top: 25px;
}
.dropdown
{
  height: 30px;
  width: 210px;
  padding: 5px;
  border: 0.5px solid #c0c0c0;
  border-radius: 2px;
  margin-top: 30px;
}
.radio
{
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
#button
{
 align-items: center;
 width: 100px;
 height: 50px;
 border: 1px solid #59ACE0;
 background-color: #59ACE0; 
 border-radius: 3px;
 color: #ffff;
 font-size: 1em;
 margin: 10px;
 cursor: pointer;

}
